*{
    margin:0;
    padding: 0;
}

#map {
    height: 400px;
    width:100%;
  }

body{
    background-size: auto;
    background-repeat: repeat;
    background-color: #cae7ff;
}

/* HEADER */
.header{
    padding: 35px; 
    background-color: #5D5C61; 
    border: 2px solid var(--border-one);
}

.header h1{
    text-align: left;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul{
    display: flex;
    background-color: #fcdfca;
    padding: 10px;
    text-align: end;
    flex-direction: row;
    justify-content: right;   
}

nav a {
    margin: 15px;
}


/* HERO */
.hero{
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    position:static;
    padding: 1rem;
    background-color: #ffffff;
}

.heroimg {
    background-size: cover;
    border: 1.5px solid #8d8d8d;
    background-position: center;
    width:100%;
    height: 600px;
}

/* MAIN */
.maincontent {
    padding: 1rem;
    width: auto;
}

.maincontent h1{
    margin-bottom: 20px;
    font-size: 35px;
    padding-left: 3%;
}

/* Products */
.products {
    margin-left: 2rem;
    margin-bottom: 20px;
    width: auto;
}

/* Order Form */
.orderForm {
    margin-left: 0rem;
    margin-bottom: 20px;
    font-size: 35px;
    padding-left: 1%;
    padding-bottom: 1%;
    height: 20%;
    background-color: #ffffff;
}

.formHeader h3 {
    padding-top: 1%;
}

.formHeader p{
    padding-bottom: 1%;
}

.infoForm { 
    border: 1.5px solid #ebdbdb;
}

.infoForm input {
    border: 1.5px solid rgb(156 163 175);
}

/* Checkout */
.checkout{
    display: grid;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid #49484d;
}

.totalordercost{
    padding: 5px;
}


/* FOOTER */

.container {
    display: inline;
    width: 100%;
}

.footer {
    padding-top: 20px;
    background-color:#9597ff;
    color: rgb(0, 0, 0);
    text-align: center;
}

.footer-content h5 {
    position: left;
    margin-bottom: 40px;
    margin-top: 10px;
    text-align: center;
}

.footer a {
    color: rgb(0, 0, 0);
    margin:auto;
    text-decoration:none;
    display:inline;
    text-align: center;
}
  
.footer a:hover, footer a:focus {
    color: #aaa;
    border-bottom:1px dotted #999;
}

/* Modal Display */
.modalDisplay {
    display: none;
}