.header{

}

nav{
    display: flex;
    background-color: #d8a47f;
    text-align: end;
    flex-direction: row;
    justify-content: space-between;
}

.hero{
  
}

.main{
  
}

.product{
  
}

.product h2{
  
}

.header{
  
}

.footer{
  
}
